<form class="" action="events/search" method="get">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="text" name="search[term]" placeholder="What subject?">
  <input type="text" name="search[zipcode]" placeholder="Zipcode?">

  <input type="text" name="search-term" placeholder="What subject?">
  <input type="text" name="search-zipcode" placeholder="Zipcode?">

  <button type="submit" name="button">Add</button>
</form>
