<% @page_title = 'Find a Tutor' %>
<%= render partial: 'layouts/header', locals: {page_title: @page_title} %>

<br>
<br>

<%= link_to "I need tutoring", new_user_path, class:"btn btn-primary"  %>
<br>
<br>
<%= link_to "I want to be a tutor", new_user_path, class:"btn btn-primary"  %>
<br>
<br>
<a href="/login">
  <button type="button" class="btn btn-default" name="button">Sign In</button>
</a>
