
<li class="list-item">

  <div class="col-md-3"><%= event.name %></div>
  <div class="col-md-3"><%= event %></div>
  <div class="col-md-3"><%= event.created_at.to_formatted_s(:short) %></div>

</li>
