<li id="events-<%= event.id %>" class="event list-group-item row">
  <div class="col-md-3"><%= event.name %></div>
  <div class="col-md-3"><%= event.location.name %></div>
  <div class="col-md-3"><%= event.created_at.to_formatted_s(:short) %></div>
</li>
