<form id="event" class="form-control" action="/events" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label for="event-name">Event Name</label>
    <input id="event-name" type="text" name="event[name]" placeholder="Study group name goes here!">

    <label for="event-description">Description</label>
    <input id="event-description" type="textarea" name="event[description]" placeholder="awesome study group description goes here!">

    <%# TODO: replace datetime with bootstrap styled one %>
    <label for="event-time_start">Start Time</label>
    <input id="event-time_start" type="datetime-local" name="event[time_start]">

    <label for="event-time_end">End Time</label>
    <input id="event-time_end" type="datetime-local" name="event[time_end]">

    <input type="submit" value="Submit">

</form>
