<% @page_title = 'Upcoming Tutoring Session' %>
<%= render partial: 'layouts/header', locals: {page_title: @page_title} %>

<div>
  <% @events.each do |event| %>
  <div class='c-w bg-g img-rounded h w m-t p-l'>

    <strong class=' f-s-l'><%= link_to event.name, event_path(event)%></strong>
    <!-- Missing path -->
    <div class='row'>
      <div class='col-xs-9 p-t-l'>
        <p><strong>Venue: </strong><%= event.location.name %></p>
        <p><strong>Time: </strong><%= event.time_start %></p>
      </div>
      <div class='col-xs-3 p-r'>
        <span class="glyphicon glyphicon-plus-sign pull-right f-s c-w p-r p-t-l" aria-hidden="true"></span>
      </div>
    </div>
    </div>
  <% end %>
</div>
</div>
