/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.bg-b {background-color: #4a90e2;}

.bg-g {background-color: #4D4D4D}

.c-w, .c-w a {color: #fff;}

.c-g {color: grey;}

.c-o {color: #FE7E68;}

.b-o {background-color: #FE7E68;}

.fl-l {float: left;}

.ft-r {float: right;}

.d-b {display: block}

.p-s {padding: 1em;}

.p-l {padding-left: 1em;}

.p-r {padding-right: 1em;}

.p-t-l {padding-top: 3em;}

.p-b-s {padding-bottom: .5em;}

.h {height: 140px}

.w {width: 100%}

.f-s {font-size: 1.5em}

.f-s-m {font-size: 2.5em}

.f-s-l {font-size: 17px}

.m-t {margin-top: .7em;}

.m-b {margin-bottom: 1.4em;}

.m-t-l {margin-top: 2em;}

.lh-s {line-height: 1em;}

.b-s { box-shadow: 0 5px 2px -2px #888888;}

.d-i { display: inline-block;}

.txt-a {text-align: center;}

 $red:"#EB9693";
 $blue:"#EB9693";

*{
    margin: 0;
    padding: 0;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.gray {
  background-color: #EFEDEF;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -3px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.confirm {
  background-color: #FE7E68;
  color: white;
}

.awwpx {
  padding-bottom: 17px;
}

.left {
  padding-left: 15px;
}

.right {
  padding-right: 15px;
}

.avatar {
    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    width: 50px;
    height: 50px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
}
