<div class = 'tutoringvenue'>

  <form name="venue" action="/locations/create" method="post">
    <label for="zipcode">Zip code:</label>
    <input type="text" name="zipcode" id="zipcode" />

    <label for="name">Venue name:</label>
    <input type="text" name="name" id="name" />

    <label for="address">Address:</label>
    <input type="text" name="address" id="address" />

    <label for="contact">Primary contact name:</label>
    <input type="text" name="contact" id="contact" />

    <label for="phone">Telephone:</label>
    <input type="text" name="phone" id="phone" />

    <input type="submit" value="Add venue">
  </form>

</div>