<header class='row bg-b p-s' >
    <a href='/'>
      <span class="glyphicon glyphicon-chevron-left c-w pull-left" aria-hidden="true"></span>
    </a>
    <a href='/users'>
      <span class="glyphicon glyphicon-user c-w pull-right" aria-hidden="true"></span>
    </a>
    <h4 class='c-w text-center'><%= page_title %></h4>
</header>


